@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
	font-family: 'Maccos';
	src: url('/fonts/maccos.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

.logo-font {
	font-family: 'Maccos', sans-serif;
}
